@using WebAgenda.Entity;
@{
    ViewData["Title"] = "Home Page";
}
@model TarefasModel

<div class="text-center">
    <h1 class="display-4" style="font-size:20px">Bem vindo @UsuarioEntity.GetInstancia().Nome</h1>
</div>
<br />
<br />
<br />

<div class="alert alert-primary" style="background-color:#2582C5" role="alert">
    <h2 style="color:white;font-size:25px;text-align:center">Minhas Tarefas!</h2>
</div>

<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Titulo</td>
            <td>Tarefa</td>
            <td>Data Tarefa</td>
            <td>Açôes</td>
        </tr>
    </thead>

    <tbody>
        @{
            foreach (var item in Model.ListarTarefas())
            {
                <tr>
                    <th>@item.Id</th>
                    <th>@item.Titulo</th>
                    <th>@item.Tarefa</th>
                    <th>@item.Data_Tarefa</th>
                    <th>
                        <a href="#" class="btn btn-primary" style="background-color:#116097">Editar</a>
                        <a href="#" class="btn btn-primary" style="background-color:#B01415">Eliminar</a>
                        <a href="#" class="btn btn-primary" style="background-color:#59A62B">Concluida</a>
                    </th>
                </tr>
            }
        }

    </tbody>
</table>
<br />
<br />
<div class="text-start">
    <a asp-area="" asp-action="NovaTarefa" class="btn btn-primary">Nova tarefa</a>
</div>